In [ ]:
# ENTER A LIST OF NUMBERS AND FIND ITS SUM WITHOUT USING ANY FUNCTION:

In [ ]:
msg = "1, 2, 3"
df = msg.split(",")
sum = 0
for item in df:
  temp = int(item)
  sum = sum + temp
print(sum)

6

In [ ]:
def sumlist(lst):
 sum = 0
 for item in lst:
  sum = sum + item
 return sum
sumlist([1, 2, 3])

6

In [ ]:
# ENTER A LIST OF NUMBERS SEPARATED BY COMMAS AND FIND ITS SUM:

In [ ]:
var = input("Enter the numbers: ")
msg = "1, 2, 3"
df = msg.split(",")
sum = 0
for item in df:
  sum = sum + var
print("Sum of your numbers inputted are: {}". format(sum))

Enter the numbers: 2,3

TypeError: ignored

In [ ]:
def sumlistfn(lst):
  sum = 0
  # logic to sum the numbers in the list
  for item in lst:
    sum += int(item)
  return sum
userInput = input("Enter a list of numbers separated via commas: ")
# 2, 3, 4, 5, 6, 7, 10, 23
array = userInput.strip().split(',')
# ["2", "3", "4", "5", "6", "7", "10", "23"]
sum = sumlistfn(array)
print("Sum:",sum)

Enter a list of numbers separated via commas: 2,3
Sum: 5

In [ ]:
# COUNT THE NUMBER OF ODD AND EVEN NUMBERS IN THE LIST AND PRINT THE ODD NUMBERS COUNT AND EVEN NUMBERS COUNT ALONG WITH THE NUMBERS.

In [ ]:
ls = [2, 3, 4, 5, 6]
def odd_even(ls):
  odd = []
  even = []
  for i in ls:
    if int(i) % 2 == 0:
      even.append(1)
    else:
      odd.appned(1)
  return even, odd

  numbers = input("Enter the numbers:").split(",")
  even.odd = odd_even(numbers)
  print("Count of the even number is:", len(even))
  print("List of even numbers:", even)
  print("Count of the odd number is:", len(odd))
  print("List of odd numbers:", odd)

In [ ]:
# Write a function in python that accepts your details and save it into file with your name

file = open("Siddhartha.txt","w+")
file.write(" Name: Siddhartha Sinha\n Register No: 23122133\n Class:1MScDSB\n Favourite Person: Mew")

84

In [ ]:
file.close()

In [ ]:
def saveDetails(Name, Email, Phone_No):
  filename = Name + ".txt"
  with open("filename.txt","w+") as file:
    file.write("Name\t:\t" + Name)
    file.write("\nEmail\t:\t" + Email)
    file.write("\nPhone No\t:\t" + Phone_No)
user_name = input("Enter your Name: ")
user_email = input("Enter your Email: ")
user_phone_no = input("Enter your Phone no: ")
saveDetails(user_name, user_email, user_phone_no)

Enter your Name: Siddhartha Sinha
Enter your Email: siddharthasinha19@gmail.com
Enter your Phone no: 8582873442

In [ ]:
# Write a program that will take two operands and an operator and performs the calculation and gives the result. Also save the claculations that your program performs in a file.

def saveDetails(Operation1, Operation2):
  filename = Operation + ".txt"
  with open("operation.txt","w+") as file:
    file.write("Operation1\t:\t" + Operation1)
    file.write("Operation2\t:\t" + Operation2)
user_operation1 = input("Enter your 1st Operand: ")
user_operation2 = input("Enter your 2nd Operand: ")
def (user_operation1 + user_operation2)
final_result = input("Enter final result: ",user_operation3)
saveDetails(user_operation1, user_operation2, final_result)

SyntaxError: ignored